---
layout: default
---

{% assign trans = site.data.values[site.lan] %}
<div class="article well">
    <h1>{{ trans.android }}</h1>
    <ul>
        {% assign sortedtags = site.categories.Android | sort %}
        {% for tag in sortedtags %}
            {% if tag[0] == trans.c %}
                {% assign pages_list = tag[1] %}
                {% for node in pages_list %}
                    {% if node.title != null %}
                    {% if group == null or group == node.group %}
                        <li><span class="post-date">
                        {% assign date_format = site.date_format.tag %}
                        {{ node.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ node.url }}"> {{ node.title }}</a></li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% assign pages_list = nil %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

