---
layout: default
---

<div class="well article">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    {% if category[0] == "C" %}
        <h2>{{ category[0] | capitalize }}</h2> 
        {% assign sortedtags = category[1] %}
            {% for tag in sortedtags %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ tag.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ tag.url }}"> {{ tag.title }}</a></li>
            {% endfor %}
    {% endif %}
{% endfor %}
</div>








