---
layout: default
---

<div class="well article">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    {% if category[0] == "C" %}
        {% assign sortedtags = category[1] | sort %}
            {% for tag in sortedtags %}
                <h2>{{ tag.tags | capitalize }}</h2>
                {% if tag.title != null %}
                {% if group == null or group == tag.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ tag.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ tag.url }}"> {{ tag.title }}</a></li>
                {% endif %}
                {% endif %}
                
            {% endfor %}
    {% endif %}
{% endfor %}
</div>








