---
layout: default
---
<div class="well article">
{% assign trans = site.data.values[site.lan] %}
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <h2>{{ category[0] | capitalize }}</h2>
    {% if category[0] == trans.cplusplus %}
        {% assign sortedtags = category[1] %}
            {% for tag in sortedtags %}
                {% if tag.title != null %}
                {% if group == null or group == tag.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ tag.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ tag.url }}"> {{ tag.title }}</a></li>
                {% endif %}
                {% endif %}
                
            {% endfor %}
    {% endif %}
{% endfor %}
</div>








